<div class="glow-containter">
<div id="about-overlay-glow"></div>
</div>

<section class="about-section" id="about">

    <div class="about-heading-wrapper">
        <h2 class="about-heading">About Me</h2>
    </div>

    <div class="about-content">
        <div class="about-text">
            <p>
                I tend to move faster than the systems I'm in. That's probably why I finished high school at 15 and spent my school hours trading virtual economies and building game tools. I've never been much for following a script; I'd rather understand the logic that makes the script work.
            </p>
            <p>
                I'm a systems-builder and optimizer at heart. Whether I'm architecting backend stability for a gaming community or drafting papers on the systemic method of belief selection (WIP), the process is the same: I look for problems, find the patterns, and try to build something better.
            </p>
            <p>
                Recently, that same obsession has bled into academia. Which is why I now find myself with several papers in progress across psychology, and philosophy. I don't see these as "new" interests; I see them as new systems to debug. My work on gaming disorder, for example, isn't just about the behavior—it's about organizing the variables, clarifying the logic, and building a clearer model for how these systems of the mind actually function.
            </p>
            <p>
                I don't have all the answers. <br>
                But I know how to find them.
            </p>

        </div>

        <div class="about-image">
            <img src="{{ '/assets/img/Me ig.png' | relative_url }}" alt="Portrait of Myst1cS04p" />
        </div>
    </div>
</section>
