<div class="glow-containter">
    <div id="contact-overlay-glow"></div>
</div>

<section class="contact-section" id="contact">

    <div class="contact-heading-wrapper">
        <h2 class="contact-heading">Hit Me Up!</h2>
    </div>

    <div class="contact-content">
        <div class="contact-text">
            <p>
                Reach out through any of the platforms below — whether you're a dev, designer, collaborator, or fellow
                internet gremlin. I'm always down to connect.
            </p>
        </div>

        <div class="contact-icons">
            <div class="contact-icons">
                {% for contact in site.data.contacts %}
                <a href="{{ contact.url }}" target="_blank" aria-label="{{ contact.name }}">
                    <img src="{{ '/assets/img/contact_icons/' | append: contact.img | relative_url }}" alt="{{ contact.alt }}" />
                </a>
                {% endfor %}
            </div>

        </div>

        <div class="contact-resume">
            <a class="resume-btn" href="{{ '/assets/cv/CV_final_fr.pdf' | relative_url }}" download>Download CV</a>
        </div>
    </div>

</section>