<div class="glow-containter">
    <div id="hero-overlay-glow-1"></div>
    <div id="hero-overlay-glow-2"></div>
</div>

<section class="hero-section">
    <div class="hero-content">
        <div class="center">
            <img src="{{ '/assets/img/profile.png' | relative_url }}" alt="Logo" class="hero-logo" />
            <h1 class="hero-title">{{ site.username }}</h1>
            <title>Your Name | Game Developer</title>
            <meta name="description" content="Game developer portfolio showcasing Unity projects, systems design, and creative work.">
            <p class="hero-tagline">{{ site.tagline }}</p>
            <meta name="tagline" content="I dont have all the answers, but i do know how to find them">
        </div>
    </div>
</section>
