/* ===== ARTICLES SECTION ===== */

#articles-section {
  position: relative;
  background-image: radial-gradient(ellipse at center, --bg-color 0%, --second-bg-color 100%);
  padding: 6rem 2rem 4rem;
  overflow: hidden;
  z-index: 0;
}

.articles-heading-wrapper {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  z-index: 0;
}

.articles-heading {
  font-size: 2.7rem;
  color: var(--bright-yellow);
  text-shadow: 0 0 10px var(--color-yellow);
  font-family: 'Edit Undo BRK', monospace;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  justify-items: center;
}


/* ===== CARD SECTION ===== */

.article-card {

  aspect-ratio: 1 / 1;
  width: 20rem; 
  max-width: 100%;

  background-color: #111;
  border-radius: 20px;
  overflow: hidden;
  border: 6px solid transparent;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.article-card:hover {
  border-color: var(--hover-color);
  box-shadow: 0 0 25px var(--hover-color), 0 0 60px var(--hover-color);
}

.article-card-image {
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 14px;
}

.article-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.article-card:hover .article-card-image img {
  transform: scale(1.05);
}

.article-meta {
  padding: 0.8rem 0.5rem;
  text-align: left;
}

.article-title {
  display: inline-block;
  font-family: 'Edit Undo BRK', monospace;
  font-size: 1.2rem;
  color: var(--hover-color);
  text-shadow: 0 0 8px var(--hover-color);
  text-decoration: none;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.article-title:hover {
  text-shadow: 0 0 12px var(--hover-color);
}

.article-date {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.85rem;
  color: var(--text-color);
  margin: 0.3rem 0 0 0;
}