@font-face {
    font-family: 'Pixel Game';
    src: url("../fonts/pixel-game.regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edit Undo BRK';
    src: url("../fonts/editundo.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@...'); // trimmed for brevity