.hero-section {
  position: relative;
  background-color: #0c0c1e;
  color: #ffffff;
  padding: 6vh 2rem;
  text-align: center;
  overflow: hidden;
}

/* ===== LOGO ===== */
.hero-logo {
  width: 25vw;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  border: 8px solid var(--color-purple);
  box-shadow:
    0 0 25px var(--color-purple),
    0 0 50px var(--color-purple);
  margin-bottom: 1.5rem;

  @media (max-width:768px) {
    width: 50vw;
  }
}

/* ===== TEXT ===== */
.hero-title {
  font-family: 'Edit Undo BRK', monospace;
  font-size: 2.7rem;
  text-shadow:
    0 0 10px var(--color-purple),
    0 0 20px var(--color-purple);
  margin: 1rem 0;
}

.hero-tagline {
  font-family: 'Pixel Game', monospace;
  font-size: clamp(1rem, 3vw, 2rem);
  color: var(--color-purple);
  text-shadow: 0 0 8px var(--color-purple);
}

.warning {
    font-family: 'Edit Undo BRK', monospace;
      font-size: clamp(1rem, 3vw, 2rem);
      text-shadow:
        0 0 10px var(--color-red),
        0 0 20px var(--color-red);
      margin: 1rem 0;
}