/* ===== PORTFOLIO SECTION ===== */

#portfolio-section {
  position: relative;
  background-color: #0c0c1e;
  padding: 6rem 2rem 4rem;
  overflow: hidden;
  z-index: 0;

  @media (max-width: 768px) {
      padding: 6rem 4rem 4rem;
    }
}

.portfolio-heading-wrapper {
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  z-index: 0;
}

.portfolio-heading {
  font-size: 2.7rem;
  color: var(--bright-blue);
  text-shadow: 0 0 10px var(--color-blue);
  font-family: 'Edit Undo BRK', monospace;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 2;
  position: relative;
}

/* ===== CARD STYLING ===== */

.portfolio-card {
  position: relative;
  overflow: hidden;
  border: 10px solid transparent;
  border-radius: 70px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  background-color: #111;
  aspect-ratio: 1 / 0.8;
}

.portfolio-card:hover {
  border-color: var(--hover-color);
  box-shadow: 0 0 25px var(--hover-color),
    0 0 60px var(--hover-color);
}

.portfolio-card-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.portfolio-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.portfolio-card:hover .portfolio-card-image img {
  transform: scale(1.1);
}

.portfolio-card-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(to top, rgba(12, 12, 30, 0.8));
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.portfolio-card:hover .portfolio-card-hover {
  opacity: 1;
}

.portfolio-card-hover h3 {
  font-family: 'Edit Undo BRK', monospace;
  font-size: 1.3rem;
  margin: 0;
}

.portfolio-date {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 0.9rem;
  color: #bbb;
}

.modal-devlog {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 12px;
  background-color: transparent;
  font-family: 'Edit Undo BRK', monospace;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.2s ease;
}

.modal-devlog.hidden {
  display: none;
}