---
---

:root {
    --color-red: #F50057;
    --color-red-orange: #FF3D00;
    --color-orange: #FF6F00;
    --color-yellow: #FFEA00;
    --color-green: #00E676;
    --color-blue: #00CFFF;
    --color-pink: #FF77B9;
    --color-black: #1A1A2E;
    --color-purple: #5D09E4;

    --bg-color: #1B1524;
    --second-bg-color: #281F34;
    --text-color: #9FA5B2;
    --glow-purple: rgba(160, 32, 240, 0.35);
    --glow-purple-low: rgba(160, 32, 240, 0.15);
    --glow-purple-mid: rgba(160, 32, 240, 0.25);
  
    --glow-red: rgba(245, 0, 87, 0.25);
    --glow-red-low: rgba(245, 0, 87, 0.15);

    --glow-blue-low: rgba(0, 207, 255, 0.15);
}

@import 'fonts';
@import '_base';
@import 'glow';
@import 'hero';
@import 'about';
@import 'portfolio';
@import 'modal';
@import 'responsive';
@import 'firefox';

// @import 'test';